body {background:rgb(245, 141, 141)}

.title {
    color: #0000ff;
    text-align: center;
}

.subtitle {
    color: #262694;
    font-size: 20px;
    text-align: center;
}


img {
    width:100px;    

}

.toyota {
    font-size: 200px;
}

.paragraph-text {
font-size: 20px;
}


#anum {
    font-size: 100px;
}

